@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .social-icons {
    @apply text-gray-300 cursor-pointer hover:text-primary hover:-translate-y-1 transition-transform duration-200 ease-out;
  }
}

.line::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #fff;
}

/* .hidden-h {
  visibility: hidden;
}

.hidden-h.visible {
  visibility: visible;
}

.hidden-h.delay-05s {
  transition-delay: 0.5s;
}

.hidden-h.delay-1s {
  transition-delay: 1s;
} */
