@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .social-icons {
    @apply text-gray-300 cursor-pointer hover:text-primary hover:-translate-y-1 transition-transform duration-200 ease-out;
  }
}

:root {
  --primary: #64ffda;
}

.line::after {
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #fff;
}

.vertical-letters {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.horizontal-line::after {
  content: '';
  display: inline-block;
  width: 250px;
  height: 1px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #4a4f4a;
}

@media only screen and (max-width: 768px) {
  .horizontal-line::after {
    margin-bottom: 6px;
    width: 150px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .horizontal-line::after {
    width: 180px;
  }
}

#menu-bar {
  width: 30px;
  height: 30px;
  margin: 25px 30px 0px 0px;
  cursor: pointer;
  display: grid;
  place-items: center end;
}

.bar {
  height: 2px;
  background-color: var(--primary);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg,
#menu {
  top: 0;
  right: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0px;
  height: 0px;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #1e231e, #1e231e);
  border-radius: 40%;
  transition: 0.4s ease;
}

.change .bar {
  background-color: var(--primary);
}

.change #bar1 {
  transform: translateY(10px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-10px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 100vh;
  transform: translate(35%, -10%);
}
